<?xml version="1.0" encoding="utf-8" ?>

<go-plugin id="config.transformation.plugin" version="1">
    <about>
        <name>Config Transformation Task Plugin</name>
        <version>1.2.0</version>
        <target-go-version>15.1.0</target-go-version>
        <description>Plugin to transform configuration file</description>
        <vendor>
            <name>Paulo Bortolotti</name>
            <url>https://github.com/phbortolotti</url>
        </vendor>
        <target-os>
            <value>Linux</value>
            <value>Windows</value>
        </target-os>
    </about>
</go-plugin>